div.formLeftUser {
	padding-right: 15px;
	width: 300px;
	float: left;
	margin-right: 15px;
}

div.formRightUser {
	width: 300px;
	float: left;
}

div.formMainUser {
	margin-left:auto;
	margin-right:auto;
	text-align: left;
	overflow: hidden;
	width: 615px;
	margin-top: 30px;
}

.formRightUser input, 
.formLeftUser input, 
.formMainUser select {
	width: 100%;
}

.formMainUser select {
	height: 30px;
}

.formRightUser label, 
.formLeftUser label {
	margin-bottom: 0px;
}

.formMainUser input[type="file"] {
	height: 49px;
}

.fileLabelUser {
	margin-top: 5px;
}

.formSubmitUser {
	margin-top: 15px;
}

#awardsForm .formSubmitUser, 
.updateSubmitUser {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 40%;
}

.success-message,
.error-message {
	color: #FFFFFF;
	margin-top: 20px;
	padding: 10px 0;
}

.success-message {
	background: green;
}

.error-message {
	background: red;
}

.success-message a {
	color: #FFFFFF;
	text-decoration: underline;
}

.success-message p,
.error-message p {
	margin-bottom: 0px;
}

.error-list {
	list-style: none
}

.error-list li {
	color: red;
}

div.floatClearUser { 
	margin-bottom:7px;
	clear: both; 
}

.delete-awards-table {
	margin-top: 30px;
}

.delete-awards-table td, 
.delete-awards-table th {
	padding: 10px 15px;
	border: 1px solid;
}

.templateSection {
	border: 1px solid #e5e5e5;
	padding: 30px;
	max-width: 80%;
	margin: 0 auto 40px;
}
.block-center-user {
	width: 30%;
	margin: 20px auto 0;
}
/*.block-side {
	display: inline-block;
	width: 25%;
	margin: 10px 5px 20px 5px;
}*/
