{% extends 'base.html' %}

{% block body_block %}
	<div style="width:650px; overflow:hidden; 
		margin-left:auto; margin-right:auto; margin-top:-25px;">
        <h1 style="margin-bottom:25px;">Admin dashboard</h1>
	<p style="text-align:left; margin-left:88px; margin-right:55px;">
		This is the backend portion of the Klompendansen website. 
		From here, you can manage and create users, as well as
		generate various reports on the awards that have
		been created.</p>
	<div style="margin-left:62px; width:275px; float:left;">
        <h2 style="margin-bottom:18px;">Award analytics</h2>
        <p style="font-weight:bold; margin-bottom:0px;">Aggregate data</p>
        <ul style="list-style:none;padding-left:0px;">
            <li><a href="/admin/analytics/agg/creator">By-creator report</a></li>
            <li><a href="/admin/analytics/agg/city">By-city report</a></li>
            <li><a href="/admin/analytics/agg/state">By-state report</a></li>
        </ul>
        <p style="font-weight:bold; margin-bottom:0px;">Over-time data</p>
        <ul style="list-style:none; padding-left:0px;">
            <li><a href="/admin/analytics/time/creator">By-creator report</a></li>
        </ul>
	</div>
	<div style="margin-top:3px; width:275px; float:left; margin-left:15px;">
        <h2 style="margin-bottom:18px;">Web admin</h2>
        <p style="font-weight:bold; margin-bottom:0px;">User management</p>
        <ul style="list-style:none; padding-left:0px;">
            <li><a href="/admin/user">List users</a></li>
            <li><a href="/admin/user/create">Create new user</a></li>
        </ul>
	</div>
	</div>

        <br /><br />
{% endblock %}

