{% extends 'base.html' %}

{% block body_block %}
	<h1>Create user</h1>
	<form action="/admin/user/create" method="POST">
	<div class="formMain">
	<div class="formLeft">
		<label for="fname">First name:&nbsp;</label>
		<input type="text" name="fname">
		<div class="floatClear"></div>

		<label for="lname">Last name:&nbsp;</label>
		<input type="text" name="lname">

		<div class="floatClear"></div>
		<label for="org">Organization:&nbsp;</label>
		<input type="text" name="org">

                <div class="floatClear"></div>
                <label for="admin">Admin&nbsp;</label>
                <input style="width:15px; padding-top:2px;"
                type="checkbox" name="admin">

	</div>
	<div class="formRight">
		<label for="email">Email:&nbsp;</label>
		<input type="text" name="email">
		<div class="floatClear"></div>

		<label for="city">City:&nbsp;</label>
		<input type="text" name="city">
		<div class="floatClear"></div>

		<label for="city">State:&nbsp;</label>
		<input type="text" name="state">
		<div class="floatClear"></div>

		<input class="formSubmit" type="submit" value="Submit changes">
	</div>
	</div>
	</form>
        <br /><br />
{% endblock %}

