{% extends 'base.html' %}

{% block body_block %}
	{% if editProfile %}
		<h1>---Edit Profile---</h1>
	{% else %}
		<h1>---Register User---</h1>
	{% endif %}	
	<div class="registeration">
		<form id="register-form" {% if editProfile %}action="/awards/edit_profile" {% else %} action="/register" {% endif %} method="post" enctype="multipart/form-data">
			<div class="formMain">
				<div class="formLeft">
					<label for="user-first-name">First Name:&nbsp;</label>
					<input type="text" name="user-first-name" {% if editProfile %} placeholder="{{ user.fname }}" value="{{ user.fname }}" {% endif %}>
					<div class="floatClear"></div>

					<label for="user-last-name">Last Name:&nbsp;</label>
					<input type="text" name="user-last-name" {% if editProfile %} placeholder="{{ user.lname }}" value="{{ user.lname }}" {% endif %}>
					<div class="floatClear"></div>

					<label for="user-email">Email Address:&nbsp;</label>
					<input type="email" name="user-email" {% if editProfile %} placeholder="{{ user.email }}" value="{{ user.email }}" {% endif %}>
					<div class="floatClear"></div>

					{% if editProfile == False %}	
						<label for="user-password">Password:&nbsp;</label>
						<input type="password" name="user-password">
						<div class="floatClear"></div>
					{% endif %}	
					
				</div>
				<div class="formRight">	
					{% if editProfile %}	
						<label for="user-password">Password:&nbsp;</label>
						<input type="password" name="user-password" placeholder="{{ user.passwd }}" value="{{ user.passwd }}">
						<div class="floatClear"></div>
					{% endif %}
					<label for="user-org">Organization:&nbsp;</label>
					<input type="text" name="user-org" {% if editProfile %} placeholder="{{ awardUser.org }}" value="{{ awardUser.org }}" {% endif %}>
					<div class="floatClear"></div>

					<label for="user-city">City:&nbsp;</label>
					<input type="text" name="user-city" {% if editProfile %} placeholder="{{ awardUser.city }}" value="{{ awardUser.city }}" {% endif %}>
					<div class="floatClear"></div>
					
					{% if editProfile == False %}	
						<label for="user-signature" class="fileLabel">Signature:&nbsp;</label>
						<input type="file" name="user-signature">
					{% endif %}	

					<div class="floatClear"></div>
					{% if editProfile == False %}
						<input type="submit" value="Register">
					{% endif %}	
				</div>	
				{% if editProfile %}
					<div class="floatClear"></div>
					<input type="submit" value="Update" class="updateSubmit">
				{% endif %}	
			</div>	
		</form>
		{% if message %}
			<section class="success-message">
				{% if editProfile %}
					<p>{{ message }}</p>
				{% else %}	
					<p>Successfully registered. Please click <a href="/login">here</a> to login.</p>
				{% endif %}	
			</section>
		{% endif %}	
	</div>	
{% endblock %}	