{% extends 'base.html' %}

{% block body_block %}
	{% if editProfile %}
		<h1>---Edit Profile---</h1>
		<p>Edit your profile to update the data you entered during registration.</p>
	{% else %}
		<h1>---Register User---</h1>
		<p>After registering for an account, you will be be able to create new awards, view/delete awards previously granted, and edit your user profile.</p>
	{% endif %}	
	<div class="registeration">
		<form id="register-form" {% if editProfile %}action="/awards/edit_profile" {% else %} action="/register" {% endif %} method="post" enctype="multipart/form-data">
			<div class="formMainUser">
				<div class="formLeftUser">
					<label for="user-first-name">First Name*:&nbsp;</label>
					
					<!--First Name-->
					<input type="text" name="user-first-name" 
						{% if error and fieldValues.firstName %} value="{{ fieldValues.firstName }}"{% endif %}
						{% if editProfile %} value="{{ user.fname }}" {% endif %}>
					<div class="floatClearUser"></div>

					<!--Last Name-->
					<label for="user-last-name">Last Name*:&nbsp;</label>
					<input type="text" name="user-last-name" 
						{% if error and fieldValues.lastName %} value="{{ fieldValues.lastName }}"{% endif %}
						{% if editProfile %} value="{{ user.lname }}" {% endif %}>
					<div class="floatClearUser"></div>

					<!--Email Address-->
					<label for="user-email">Email Address*:&nbsp;</label>
					<input type="email" name="user-email" 
						{% if error and fieldValues.email %} value="{{ fieldValues.email }}"{% endif %}
						{% if editProfile %} value="{{ user.email }}" {% endif %}>
					<div class="floatClearUser"></div>

					<!--Password-->
					{% if editProfile == False %}	
						<label for="user-password">Password*:&nbsp;</label>
						<input type="password" name="user-password" {% if error and fieldValues.password %} value="{{ fieldValues.password }}"{% endif %}>
						<div class="floatClearUser"></div>
					{% endif %}	
					
				</div>
				<div class="formRightUser">	
					
					<!--Organization-->
					<label for="user-org">Organization*:&nbsp;</label>
					<input type="text" name="user-org" 
						{% if error and fieldValues.org %} value="{{ fieldValues.org }}"{% endif %}
						{% if editProfile %} value="{{ awardUser.org }}" {% endif %}>
					<div class="floatClearUser"></div>

					<!--City-->
					<label for="user-city">City*:&nbsp;</label>
					<input type="text" name="user-city" 
						{% if error and fieldValues.city %} value="{{ fieldValues.city }}"{% endif %}
						{% if editProfile %} value="{{ awardUser.city }}" {% endif %}>
					<div class="floatClearUser"></div>

					<!--State-->
					<label for="user-state">State*:&nbsp;</label>
					<input type="text" name="user-state" maxlength="2"
						{% if error and fieldValues.state %} value="{{ fieldValues.state }}"{% endif %}
						{% if editProfile %} value="{{ awardUser.state }}" {% endif %}>
					<div class="floatClearUser"></div>
					
					<!--Image File-->
					{% if editProfile == False %}	
						<label for="user-signature" class="fileLabelUser">Signature:&nbsp;</label>
						<input type="file" name="user-signature" {% if error and fieldValues.sig %} value="{{ fieldValues.sig }}"{% endif %}>
					{% endif %}	
				</div>	

				<div class="floatClearUser"></div>
				{% if editProfile == False %}
					<input type="submit" value="Register">
				{% endif %}	

				{% if editProfile %}
					<div class="floatClearUser"></div>
					<input type="submit" value="Update" class="updateSubmitUser">
				{% endif %}	
			</div>	
		</form>
		{% if message %}
			<section class="success-message">
				{% if editProfile %}
					<p>{{ message }}</p>
				{% else %}	
					<p>Successfully registered. Please click <a href="/login">here</a> to login.</p>
				{% endif %}	
			</section>	
		{% endif %}	
		{% if error %}
			<section>
				<p class="error-message">The form was not submitted. Please correct the following errors and submit again:</p>
				{% if error_list %}
					<ul class="error-list">
					{% for err in error_list %}
						<li>{{ err }}</li>
					{% endfor %}	
					</ul>	
				{% endif %}
			</section>	
		{% endif %}	
	</div>	
{% endblock %}	